= render partial: 'search', locals: { path: medicines_path, placeholder: 'Nombre' }

.row
  .col-md-12.text-right
    = link_to t('medicines.button.new'), new_medicine_path, class: "btn btn-success"

%table.table.table-striped
  %thead
    %tr
      %th.col-md-5= t('medicines.table-header.name')
      %th.col-md-5= t('medicines.table-header.instructions')
      %th.col-md-2
  %tbody
  - @medicines.each do |medicine|
    %tr
      %td= medicine.name
      %td= medicine.instructions
      %td.text-right
        = link_to t('medicines.actions.edit'), edit_medicine_path(medicine), class: 'btn btn-primary btn-sm'

.row
  .col-md-12.text-center
    = paginate @medicines

= render 'medicines/suggestion'
