.row
  .col-md-10.col-md-offset-2
    %h4
      Editar Usuario

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-horizontal" }) do |f|
  = devise_error_messages!
  .form-group
    = f.label :email, class: "col-md-2 control-label email"
    .col-md-10
      = f.email_field :email, autofocus: true, class: "form-control input-sm"
  .form-group
    = f.label :password, class: "col-md-2 control-label"
    .col-md-10
      = f.password_field :password, autocomplete: "off", class: "form-control input-sm"
      %i (dejar en blanco si no quiere cambiarlo)
  .form-group
    = f.label :password_confirmation, class: "col-md-2 control-label"
    .col-md-10
      = f.password_field :password_confirmation, autocomplete: "off", class: "form-control input-sm"
  .form-group
    = f.label :current_password, class: "col-md-2 control-label"
    .col-md-10
      = f.password_field :current_password, autocomplete: "off", class: "form-control input-sm"
      %i (necesitamos tu contraseña actual para confirmar tus cambios)
  .form-group
    .col-md-10.col-md-offset-2
      = link_to "Cancelar", :back, class: "btn"
      = f.submit "Actualizar", class: "btn btn-primary"
