- has_pending_payment ||= false

- if content.present? || has_pending_payment
  .row
    .col-md-2.text-right.hidden-xs
      %span.semi-strong.text-muted
        = label
    .col-md-2.visible-xs
      %span.semi-strong.text-muted
        = label
    .col-md-10
      - if has_pending_payment
        %span.semi-strong.text-danger
          = "$ #{payment}"
          %i.fa-solid.fa-sack-dollar
      - else
        %span
          = content
