.hint
  .hint-box
    .hint-icon
      %i.fa.fa-user-md
    .hint-content
      .hint-title= @patient.name
      .hint-item
        .row.zip
          .col-xs-1
            %span.text-muted
              %i.fa.fa-compress
          .col-xs-10
            %span
              %a.hint-link.compress(href="") Reducir
        .row.zip{ style: "display: none;" }
          .col-xs-1
            %span.text-muted
              %i.fa.fa-expand
          .col-xs-10
            %span
              %a.hint-link.expand(href="") Ampliar

        .row
          .col-xs-1
            %span.text-muted
              %i.fa.fa-clone
          .col-xs-10
            %span
              %a.hint-link#show(href="") Historia

        .row
          .col-xs-1
            %span.text-muted
              %i.fa.fa-print
          .col-xs-10
            %span
              %a.hint-link#print(href="") Imprimir receta

        .row
          .col-xs-1
            %span.text-muted
              %i.fa.fa-certificate
          .col-xs-10
            %span
              %a.hint-link.show-certificate(href="") Certificados

      .hint-item
        - if @patient.anamnesis.allergies?
          .row
            .col-xs-1
              %span.text-danger
                %i.fa.fa-circle
            .col-xs-10
              %span= @patient.anamnesis.allergies
        - if @patient.anamnesis.observations?
          .row
          .row
            .col-xs-1
              %span.text-warning
                %i.fa.fa-circle
            .col-xs-10
              %span= @patient.anamnesis.observations
        - if @patient.anamnesis.medical_history?
          .row
            .col-xs-1
              %span.text-info
                %i.fa.fa-circle
            .col-xs-10
              %span= @patient.anamnesis.medical_history
      .hint-item
        .row
          .col-xs-1
            %span.text-success
              %i.fa.fa-circle-o
          .col-xs-10#temperature
            #{@consultation.temperature} °C
        .row
          .col-xs-1
            %span.text-primary
              %i.fa.fa-circle-o
          .col-xs-10#blood_pressure
            #{@consultation.blood_pressure} mmHg
        .row
          .col-xs-1
            %span
              %i.fa.fa-circle-o
          .col-xs-10#weight
            #{@consultation.weight} Kg
