.hint
  .hint-box
    .hint-icon
      %i.fa.fa-user-md
    .hint-content
      .hint-title
        = @patient.name
        %small.text-muted
          #{@patient.age.years} años
          = gender_tag(@patient)
      .hint-item
        .row.zip
          .col-xs-1
            %span.text-muted
              %i.fa.fa-compress
          .col-xs-10
            %span
              %a.hint-link.compress(href="") Reducir
        .row.zip{ style: "display: none;" }
          .col-xs-1
            %span.text-muted
              %i.fa.fa-expand
          .col-xs-10
            %span
              %a.hint-link.expand(href="") Ampliar

        .row
          .col-xs-1
            %span.text-muted
              %i.fa.fa-clone
          .col-xs-10
            %span
              %a.hint-link#show(href="") Historia

        .row
          .col-xs-1
            %span.text-muted
              %i.fa.fa-print
          .col-xs-10
            - if @consultation.new_record?
              %span.text-muted
                = t('prescriptions.button.print')
            - else
              %span
                %a.disabled.hint-link.show-prescription(href="")
                  = t('prescriptions.button.print')

        .row
          .col-xs-1
            %span.text-muted
              %i.fa.fa-print
          .col-xs-10
            - if @consultation.new_record?
              %span.text-muted
                = t('prescriptions.button.print_empty')
            - else
              %span
                %a.disabled.hint-link.show-empty-prescription(href="")
                  = t('prescriptions.button.print_empty')

        .row
          .col-xs-1
            %span.text-muted
              %i.fa.fa-download
          .col-xs-10
            - if @consultation.new_record?
              %span.text-muted
                = t('certificates.button.download')
            - else
              %span
                = link_to t('consultations.button.download'),
                          download_certificates_path(consultation_id: @consultation.id, certificate_type: "consultation"),
                          data: { turbolinks: false }

        .row
          .col-xs-1
            %span.text-muted
              %i.fa.fa-certificate
          .col-xs-10
            - if @consultation.new_record?
              %span.text-muted Certificados
            - else
              %span
                %a.disabled.hint-link.show-certificate(href="") Certificados

        .row
          .col-xs-1
            %span.text-muted
              %i.fa.fa-file
          .col-xs-10
            - if @consultation.new_record?
              %span.text-muted
                Documentos
            - else
              %span
                = link_to 'Documentos',
                          patient_consultation_documents_path(@patient, @consultation),
                          data: { turbolinks: false }

      .hint-item
        - if @patient.anamnesis.allergies?
          .row
            .col-xs-1
              %span.text-danger
                %i.fa.fa-circle
            .col-xs-10
              %span= @patient.anamnesis.allergies
        - if @patient.anamnesis.observations?
          .row
          .row
            .col-xs-1
              %span.text-warning
                %i.fa.fa-circle
            .col-xs-10
              %span= @patient.anamnesis.observations
        - if @patient.anamnesis.medical_history?
          .row
            .col-xs-1
              %span.text-info
                %i.fa.fa-circle
            .col-xs-10
              %span= @patient.anamnesis.medical_history
      .hint-item
        .row
          .col-xs-1
            %span.text-success
              %i.far.fa-circle
          .col-xs-10#temperature
            #{@consultation.temperature} °C
        .row
          .col-xs-1
            %span.text-primary
              %i.far.fa-circle
          .col-xs-10#blood_pressure
            #{@consultation.blood_pressure} mmHg
        .row
          .col-xs-1
            %span
              %i.far.fa-circle
          .col-xs-10#weight
            #{@consultation.weight} Kg
