= content_for :nav_option do
  = active_nav_to('Historia clínica', patient_consultations_path(@patient))

.row
  .col-md-12
    %input{ type: "hidden", value: @patient.id, id: "patient_id" }
    %strong
      %h4
        = @patient.name
        %small
          #{@patient.age.years} años
          = gender_tag(@patient)

.row
  .col-md-1.col-xs-4
    %span.semi-strong.text-muted
      No. Cédula
  .col-md-3.col-xs-4
    %span.semi-strong
      = @patient.identity_card_number
.row
  .col-md-1.col-xs-4
    %span.semi-strong.text-muted
      Historia
  .col-md-3.col-xs-4
    %span.semi-strong
      = @patient.medical_history

.row.hidden-sm.hidden-xs
  .col-md-12.text-right
    %a.delete-consultations.btn.btn-danger(href = "")
      %i.fa.fa-trash
      Eliminar
    %a.download-medical-history.btn.btn-primary{ href: "#", "data-turbolinks": "false" }
      %i.fa.fa-download
      Descargar
    = link_to new_patient_consultation_path(@patient), class: "btn btn-success" do
      %i.fa.fa-plus
      Nueva Consulta


.row.hidden-md.hidden-lg
  .col-xs-12.text-right
    .btn-group
      %button.btn.btn-default.btn-xs.dropdown-toggle{ "aria-expanded": "false",
                                                      "aria-haspopup": "true",
                                                      "data-toggle": "dropdown",
                                                      "type": "button" }
        .span
          %i.fa.fa-cogs
          %span.caret
      %ul.dropdown-menu.pull-right
        %li
          = link_to new_patient_consultation_path(@patient) do
            %strong
              %i.fa.fa-plus
              Nueva consulta
        %li.divider{ role: "separator" }
        %li
          %a.download-medical-history(href = "#")
            %i.fa.fa-download
            Descargar historia
        %li
          %a.delete-consultations(href = "")
            %i.fa.fa-trash-o
            Eliminar consultas

.row
  .col-md-12
    %table.table.table-striped.table-hover
      %thead
        %tr
          %th.col-sm-1
            %input.check-all{ type: "checkbox" }
          %th.col-sm-10
            .row
              .col-md-10.col-md-offset-2
                Consultas
          %th.col-sm-2
      %tbody
        - @consultations.each do |_consultation|
          - present_for(_consultation) do |consultation|
            %tr
              %td.checkbox-container
                %input.check-consultation{ type: "checkbox", id: consultation.id }
              %td.select-consultation{ "data-path": edit_patient_consultation_path(@patient, consultation) }
                .row
                  .col-md-10.col-md-offset-2
                    %strong
                      %big= consultation.long_date
                = render partial: "details", locals: { label: t("consultations.doctor"), content: consultation.doctor.pretty_name }
                = render partial: "details", locals: { label: t("consultations.branch_office"), content: consultation.branch_office&.name }
                = render partial: "details", locals: { label: t("consultations.ongoing_issue"), content: consultation.ongoing_issue, copy_enabled: true }
                = render partial: "details", locals: { label: t("consultations.miscellaneous"), content: consultation.miscellaneous, copy_enabled: true }
                = render partial: "details", locals: { label: t("consultations.pending_payment"), content: nil,
                                                       has_pending_payment: consultation.pending_payment?,
                                                       payment: consultation.pretty_pending_payment }
                - if consultation.next_appointment?
                  .row
                    .col-md-2.text-right.hidden-xs
                      %span.semi-strong.text-muted
                        = t("consultations.next_appointment")
                    .col-md-2.visible-xs
                      %span.semi-strong.text-muted
                        = t("consultations.next_appointment")
                    .col-md-10
                      %span.semi-strong
                        = consultation.next_appointment_long_date
                = render partial: "details", locals: { label: t("consultations.diagnosis"), content: consultation.diagnostic_plan, copy_enabled: true }
                = render partial: "documents", locals: { patient: @patient, consultation: consultation, documents: consultation.documents }
              %td.text-right
                .btn-group
                  %button.btn.btn-default.btn-xs.dropdown-toggle{ "aria-expanded": "false",
                                                                  "aria-haspopup": "true",
                                                                  "data-toggle": "dropdown",
                                                                  "type": "button" }
                    .span.text-primary
                      %i.fa.fa-cog
                      %span.caret
                  %ul.dropdown-menu.pull-right
                    %li
                      = link_to "Editar",
                        edit_patient_consultation_path(@patient, consultation)
                    %li
                      =link_to t('prescriptions.button.print'),
                        patient_consultation_prescription_path(consultation.patient, consultation),
                        target: "_blank",
                        data: { turbolinks: false }
                    %li
                      = link_to t('consultations.button.download'),
                        download_consultations_documents_path(consultation_id: consultation.id, certificate_type: "consultation"),
                        data: { turbolinks: false }

.row
  .col-md-12.text-center
    = paginate @consultations
