= content_for :nav_option do
  = active_nav_to('Historia clínica', patient_consultations_path(@patient))

.row
  .col-md-12
    %strong
      %h4
        = @patient.name
        %small
          #{@patient.age} años
          = gender_tag(@patient)

.row
  .col-md-1.col-xs-4
    %span.semi-strong.text-muted
      No. Cédula
  .col-md-3.col-xs-4
    %span.semi-strong
      = @patient.identity_card_number
.row
  .col-md-1.col-xs-4
    %span.semi-strong.text-muted
      Historia
  .col-md-3.col-xs-4
    %span.semi-strong
      = @patient.medical_history

.row.hidden-sm.hidden-xs
  .col-md-12.text-right
    %a.download-medical-history.btn.btn-primary(href = "#") Descargar historia
    = link_to "Nueva consulta", new_patient_consultation_path(@patient), class: "btn btn-success"

.row.hidden-md.hidden-lg
  .col-xs-12.text-right
    .btn-group
      %button.btn.btn-default.btn-xs.dropdown-toggle{ "aria-expanded": "false",
                                                      "aria-haspopup": "true",
                                                      "data-toggle": "dropdown",
                                                      "type": "button" }
        .span
          %i.fa.fa-cogs
          %span.caret
      %ul.dropdown-menu.pull-right
        %li
          %a.download-medical-history(href = "#") Descargar historia
        %li
          = link_to "Nueva consulta", new_patient_consultation_path(@patient)

.row
  .col-md-12
    %table.table.table-striped
      %thead
        %tr
          %th.col-sm-1
            %input.check-all{ type: "checkbox" }
          %th.col-sm-10
            .row
              .col-md-10.col-md-offset-2
                Consultas
          %th.col-sm-2
      %tbody
      - @consultations.each do |consultation|
        %tr
          %td.checkbox-container
            %input.check-consultation{ type: "checkbox", id: consultation.id }
          %td
            .row
              .col-md-10.col-md-offset-2
                %strong
                  %big= consultation.created_at.strftime("%b %d, %Y")
            - if consultation.reason.present?
              .row
                .col-md-2.text-right.hidden-xs
                  %span.semi-strong.text-muted Motivo
                .col-md-2.visible-xs
                  %span.semi-strong.text-muted Motivo
                .col-md-10
                  %span
                    = consultation.reason
            - if consultation.miscellaneous.present?
              .row
                .col-md-2.text-right.hidden-xs
                  %span.semi-strong.text-muted Misceláneos
                .col-md-2.visible-xs
                  %span.semi-strong.text-muted Misceláneos
                .col-md-10
                  %span.semi-strong
                  = consultation.miscellaneous
          %td.text-right
            .btn-group
              %button.btn.btn-default.btn-xs.dropdown-toggle{ "aria-expanded": "false",
                                                              "aria-haspopup": "true",
                                                              "data-toggle": "dropdown",
                                                              "type": "button" }
                .span.text-primary
                  %i.fa.fa-cog
                  %span.caret
              %ul.dropdown-menu.pull-right
                %li
                  = link_to "Editar", edit_patient_consultation_path(@patient, consultation)
                %li
                  = link_to "Descargar certificado", download_certificates_path(consultation_id: consultation.id, certificate_type: "consultation")

.row
  .col-md-12.text-center
    = paginate @consultations
