= content_for :nav_option do
  = active_nav_to('Preferencias', settings_path)

.row
  .col-md-12
    %table.table.table-striped
      %thead
        %tr
          %th.col-md-4 Preferencia
          %th.col-md-8 Valor
      %tbody
        %tr
          %td
            %b Sequencia de Historia Clínica
            %br
            %b.text-muted Última historia clínica
          %td
            %a#sequence{"data-pk":    @medical_history_sequence.id,
                        "data-value": @medical_history_sequence.value,
                        "data-type":  "text",
                        "data-url":   "#{api_setting_path(@medical_history_sequence)}",
                        "href": "#"}= @medical_history_sequence.value
        %tr
          %td
            %b Diagnósticos
            %br
            %span.text-muted
              Cantidad máxima de <strong>diagnósticos</strong> a mostrarse en consulta
          %td
            %a#diagnoses{"data-pk":    @maximum_diagnoses.id,
                         "data-value": @maximum_diagnoses.value,
                         "data-type":  "select",
                         "data-url":   "#{api_setting_path(@maximum_diagnoses)}",
                         "href": "#"}= @maximum_diagnoses.value
        %tr
          %td
            %b Prescripciones
            %br
            %span.text-muted
              Cantidad máxima de <strong>prescripciones</strong> a mostrarse en consulta
          %td
            %a#prescriptions{"data-pk":    @maximum_prescriptions.id,
                             "data-value": @maximum_prescriptions.value,
                             "data-type":  "select",
                             "data-url":   "#{api_setting_path(@maximum_prescriptions)}",
                             "href": "#"}= @maximum_prescriptions.value

        %tr
          %td
            %b Número de emergencia
            %br
            %span.text-muted
              Número de emergencia para recetas, certificados y consentimientos
          %td
            %a#emergency-number{"data-pk":    @emergency_number.id,
                                "data-value": @emergency_number.value,
                                "data-type":  "text",
                                "data-url":   "#{api_setting_path(@emergency_number)}",
                                "href": "#"}= @emergency_number.value
