= render partial: 'search', locals: { path: diseases_path, placeholder: 'Nombre' }

.row
  .col-md-12.text-right
    = link_to t('diseases.button.new'), new_medicine_path, class: "btn btn-success"

.row
  .col-md-12
    %table.table.table-striped
      %thead
        %tr
          %th.col-md-2= t('diseases.table-header.code')
          %th.col-md-8= t('diseases.table-header.name')
          %th.col-md-2
      %tbody
      - @diseases.each do |disease|
        %tr
          %td= disease.code
          %td= disease.name
          %td.text-right
            = link_to t('diseases.actions.edit'), edit_disease_path(disease), class: 'btn btn-primary btn-sm'

.row
  .col-md-12.text-center
    = paginate @diseases
