= error_messages_for @document

= form_for [@patient, @consultation, @document], html: { class: "form-horizontal", enctype: "multipart/form-data" } do |f|
  .form-group
    = f.label :description, "Descripción", class: "col-md-2 control-label"
    .col-md-10
      = f.text_field :description, class: "form-control input-sm"
  .form-group
    = f.label :content, "Documento", class: "col-md-2 control-label"
    .col-md-10
      - if @document.images.count > 0
        %table.table.table-striped.table-hover.table-condensed
          %thead
            %tr
              %th.col-md-6 Imagen
              %th.col-md-4 Accion
              %th.col-md-2 Eliminar
          %tbody
            = f.fields_for :images do |ff|
              %tr
                %td
                  = image_tag ff.object.content_url, class: "document-preview"
                %td
                  = ff.hidden_field :content, value: ff.object.cached_content_data
                  = ff.file_field :content, class: "form-content-file"
                %td
                  = ff.check_box :_destroy unless ff.object.new_record?
      = file_field_tag "files[]", multiple: true, class: "form-content-file"
  .form-group
    .col-md-10.col-md-offset-2
      = link_to "Cancelar", patient_consultation_documents_path(@patient, @consultation), class: "btn btn-default"
      = link_to 'Eliminar', [@patient, @consultation, @document],
          data: { confirm: t("medicines.destroy.confirm") },
          method: :delete,
          class: "btn btn-danger"
      = f.submit "Guardar", class: "btn btn-success"
