/ XXX: Pull out the labels from a config file.
.row.pull-right.align-right
  = link_to "Nuevo paciente", new_patient_path, class: "btn btn-success"

%table.table.table-striped
  %thead
    %tr
      %th Historia
      %th Apellidos
      %th Nombres
      %th Sexo
      %th Fecha Nacimiento
      %th
  %tbody
  - @patients.each do |patient|
    %tr
      %td= patient.medical_history
      %td= patient.last_name
      %td= patient.first_name
      %td= patient.gender
      %td= patient.birthdate.strftime("%Y-%m-%d")
      %td= link_to "Editar", edit_patient_path(patient)
