/ XXX: Pull out the labels from a config file.
.row.pull-right.align-right
  = link_to "Nuevo paciente", new_patient_path, class: "btn btn-success"

%table.table.table-striped
  %thead
    %tr
      %th.col-md-1 Historia
      %th.col-md-3 Apellidos
      %th.col-md-3 Nombres
      %th.col-md-2 Fecha Nacimiento
      %th.col-md-1 Sexo
      %th.col-md-2
  %tbody
  - @patients.each do |patient|
    %tr
      %td= patient.medical_history
      %td= patient.last_name
      %td= patient.first_name
      %td= patient.birthdate.strftime("%Y-%m-%d")
      %td
        - if patient.male?
          %span.label.label-primary Masculino
        - else
          %span.label.label-info Femenino
      %td.text-right
        Consulta
        |
        = link_to "Anamnesis", new_patient_anamnesis_path(patient)
        |
        = link_to "Editar", edit_patient_path(patient)
