.row
  = form_tag(patients_path, method: 'GET', class: 'form-inline') do
    .form-group
      = text_field_tag :search, params[:search], placeholder: 'Buscar', class: 'form-control'
    %button.btn.btn-default{ type: "submit" } Buscar

/ XXX: Pull out the labels from a config file.
.row.pull-right.align-right
  = link_to "Nuevo paciente", new_patient_path, class: "btn btn-success"

%table.table.table-striped
  %thead
    %tr
      %th Historia
      %th Apellidos
      %th Nombres
      %th Fecha Nacimiento
      %th Sexo
      %th
  %tbody
  - @patients.each do |patient|
    %tr
      %td= patient.medical_history
      %td= patient.last_name
      %td= patient.first_name
      %td= patient.birthdate.strftime("%Y-%m-%d")
      %td
        - if patient.male?
          %span.label.label-primary Masculino
        - else
          %span.label.label-info Femenino
      %td= link_to "Editar", edit_patient_path(patient)
