.row.pull-right
  .col-md-12
    = link_to t('patients.button.new'), new_patient_path, class: "btn btn-success"

.row
  .col-md-12
    %table.table.table-striped
      %thead
        %tr
          %th.col-md-2.hidden-xs= t('patients.table-header.history')
          %th.col-md-3= t('patients.table-header.last-name')
          %th.col-md-3= t('patients.table-header.first-name')
          %th.col-md-2.hidden-xs= t('patients.table-header.birthdate')
          %th.col-md-1= t('patients.table-header.gender')
          %th.col-md-1
      %tbody
      - @patients.each do |patient|
        %tr
          %td.hidden-xs= patient.medical_history
          %td= patient.last_name
          %td= patient.first_name
          %td.hidden-xs= patient.birthdate.strftime("%Y-%m-%d")
          %td
            - if patient.male?
              %span.label.label-primary= t('patients.label.male')
            - else
              %span.label.label-info= t('patients.label.female')
          %td.text-right
            .btn-group
              %button.btn.btn-default.btn-xs.dropdown-toggle{ "aria-expanded": "false",
                                                              "aria-haspopup": "true",
                                                              "data-toggle": "dropdown",
                                                              type: "button" }
                -if patient.anamnesis?
                  .span.text-primary
                    %i.fa.fa-cog
                    %span.caret
                -else
                  .span.text-warning
                    %i.fa.fa-cog
                    %span.caret
              %ul.dropdown-menu.pull-right
                %li
                  - if patient.anamnesis?
                    = link_to t('patients.actions.anamnesis'), edit_patient_anamnesis_path(patient, patient.anamnesis)
                  - else
                    = link_to t('patients.actions.anamnesis-star'), new_patient_anamnesis_path(patient)
                - if patient.anamnesis?
                  %li
                    = link_to t('patients.actions.consultation'), new_patient_consultation_path(patient)
                - else
                  %li.disabled
                    %a(href="#")= t('patients.actions.consultation')
                - if patient.consultations?
                  %li
                    = link_to t('patients.actions.clinical-history'), patient_consultations_path(patient)
                - else
                  %li.disabled
                    %a(href="#")= t('patients.actions.clinical-history')
                %li.divider{ role: "separator" }
                %li
                  = link_to t('patients.actions.edit'), edit_patient_path(patient)

.row
  .col-md-12.text-center
    = paginate @patients
