%table.table.table-striped.table-hover
  %thead
    %tr
      %th{ colspan: 2 } PACIENTES ESPECIALES
  %tbody
  - @patients.each do |patient|
    %tr
      %td.col-md-2.hidden-xs
        %big
          = patient.medical_history
      %td.col-md-10
        .row
          .col-xs-8
            %strong
              %big= patient.name
              %span.text-muted #{patient.age} años
          .col-xs-4
            .pull-right
              - if patient.phone_number.present?
                %big
                  %a(href = "tel:#{patient.phone_number}")
                    %i.fa.fa-phone.hidden-xs
                    %strong= patient.phone_number
        - if patient.consultations.most_recent.miscellaneous?
          .row
            .col-md-12
              %strong
                Misceláneos.
              = patient.consultations.most_recent.miscellaneous
        - if patient.consultations.most_recent.next_appointment?
          .row
            .col-md-12
              %strong
                Próxima cita.
              = patient.consultations.most_recent.next_appointment.strftime("%Y-%m-%d")
