- anamnesis = @patient.anamnesis
#anamnesis-editable.form{ data: { pk: anamnesis.id, url: api_anamnesis_path(anamnesis) } }
  .panel.panel-success
    .panel-heading
      %b Antecedentes Personales
    .panel-body
      .row-fluid
        .form-group.col-md-12
          %a.editable-field{ href: "javascript:void(0)", data: { name: "medical_history", type: "text" } }
            = anamnesis.medical_history
        .form-group.col-md-12
          .input-group
            %span.input-group-addon.input-sm Antecedentes Quirúrgicos
            %a.editable-field{ href: "javascript:void(0)", data: { name: "surgical_history", type: "text" } }
              = anamnesis.surgical_history
        .form-group.col-md-4
          .input-group
            %span.input-group-addon.input-sm Alergias
            %a.editable-field{ href: "javascript:void(0)", data: { name: "allergies", type: "text" } }
              = anamnesis.allergies
        .form-group.col-md-4
          .input-group
            %span.input-group-addon.input-sm Observación
            %a.editable-field{ href: "javascript:void(0)", data: { name: "observations", type: "text" } }
              = anamnesis.observations
        .form-group.col-md-4
          .input-group
            %span.input-group-addon.input-sm Hábitos
            %a.editable-field{ href: "javascript:void(0)", data: { name: "habits", type: "text" } }
              = anamnesis.habits
        .form-group.col-md-12
          .input-group
            %span.input-group-addon.input-sm Audioprótesis
            %label.toggle-switch
              %input.toggle-switch-input.anamnesis-toggle{ type: "checkbox", checked: anamnesis.hearing_aids, data: { name: "hearing_aids" } }
              %span.toggle-switch-slider
  .panel.panel-success
    .panel-heading
      %b Antecedentes Familiares
    .panel-body
      .row-fluid
        .form-group.col-md-12
          %a.editable-field{ href: "javascript:void(0)", data: { name: "family_history", type: "text" } }
            = anamnesis.family_history
