!!!
%html
  %head
    %title Hippocrates
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no'}
    = favicon_link_tag 'favicon.ico'
    = javascript_include_tag 'application'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootswatch/3.3.6/paper/bootstrap.min.css'
    = stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css'
    = stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.min.css'
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand(href="/") Hippocrates
          %button.navbar-toggle(type="button"){ data: { toggle: "collapse", target: "#navbar-main" } }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .navbar-collapse.collapse#navbar-main
          %ul.nav.navbar-nav
            %li.active
              = link_to 'Pacientes', patients_path
          %ul.nav.navbar-nav.navbar-right
            %li
              %a(href='#') Salir

    .container
      = yield

    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.js'
    = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/locales/bootstrap-datepicker.es.min.js'
