!!!
%html
  %head
    %title Hippocrates
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1, user-scalable=no'}
    = favicon_link_tag 'favicon.ico'
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          %a.navbar-brand(href="/")
            %i.fa.fa-star-of-life
            Hippocrates
          %button.navbar-toggle(type="button"){ data: { toggle: "collapse", target: "#navbar-main" } }
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        .navbar-collapse.collapse#navbar-main
          - if user_signed_in?
            %ul.nav.navbar-nav
              = nav_to 'Pacientes', patients_path
              = nav_to 'Pacientes Especiales', special_patients_path
              = nav_to 'Medicinas', medicines_path
              = nav_to 'Enfermedades', diseases_path
              - if policy(:admin).index?
                %li.dropdown
                  %a.dropdown-toggle{ href: "#", role: "button", data: { toggle: "dropdown" }, aria: { expanded: "false" } }
                    %i.fa.fa-star-of-life
                    Admin
                    %span.caret
                  %ul.dropdown-menu{ role: "menu" }
                    = nav_to 'Actividades', admin_activities_path
                    = nav_to 'Cobros', admin_charges_path
                    = nav_to 'Preferencias', admin_settings_path
                    = nav_to 'Sucrusales', admin_branch_offices_path
                    = nav_to 'Usuarios', admin_users_path
                    = nav_to 'Productividad', admin_charts_path
              = yield :nav_option

          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li
                = link_to edit_user_registration_path do
                  %span
                    - if current_user.doctor?
                      %i.fa.fa-user-md
                    - else
                      %i.fa.fa-user

                  = current_user.pretty_name

              %li
                = link_to "Salir", destroy_user_session_path, method: :delete
            - else
              %li
                = link_to "Login", new_user_session_path


      = yield :alerts

    .container
      = render 'layouts/flash_messages'
      = yield
